# cluster
DATABASE_URL= 
# Clave secreta para firmar y verificar los tokens JWT 
JWT_SECRET=
# puerto en el que corre express
PORT= 
# URL permitida para el Frontend (CORS)
FRONTEND_URL=

# Endpoint de la función Lambda en AWS para generar certificados
AWS_LAMBDA_CERTIFICATE_URL=